.App {
  position: relative;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  overflow-x: hidden;
  padding: 12px;
  background: $white;
  color: $dark-grey;
  max-width: 640px;
  margin: 0 auto;

  .meter-panel {
    padding-bottom: 10px;
  }

  .meter-panel > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
