@use 'variables' as *;

$appSize: calc(100% - $spacing-md * 2);
$appMaxWidth: 40em;

.App {
  position: relative;
  width: $appSize;
  height: $appSize;
  overflow-x: hidden;
  padding: $spacing-md;
  max-width: $appMaxWidth;
  margin: 0 auto;
}
