html,
body,
#root {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

// prevent selection of text on all text elements
// because text selection can be annoying with an app
// especially on mobile devices
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0.6em;
}

button {
  display: inline-block;
  min-height: $spacing-button;
  min-width: $spacing-button;
  margin: 0;
  padding: $spacing-sm;
  color: $magenta;
  font-size: 2.8rem;
  background-color: $white;
  border: none;
  cursor: pointer;

  &:hover {
    color: $magenta;
    background: $white;
  }
}

// native range input styles
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: $input-range-height;
  width: 100%;
  border: 1px solid $magenta;
  background-color: $white;
  border-radius: 0;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $input-range-thumb-size;
    height: $input-range-thumb-size;
    border-radius: 50%;
    border: 2px solid $magenta;
    background-color: $white;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: $input-range-thumb-size;
    height: $input-range-thumb-size;
    border-radius: 50%;
    border: 2px solid $magenta;
    background-color: $white;
    cursor: pointer;
  }
}

label {
  display: block;
  font-size: 1.2rem;
  margin-block-start: 0.75em;
  margin-block-end: 0.5em;
}
