html,
body,
#root {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

// override react-rangeslider
.rangeslider .rangeslider__handle::after {
  // remove inner circle in handle
  content: initial;
}
