@use 'variables' as *;

.TempoSlider {
  padding-bottom: $spacing-md;

  .tempo-slider__controls {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: $spacing-md;
    justify-content: space-between;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}
