@use 'sass:color';

// UI colors
$color-bg-dark: #1e2028;
$color-dark-grey: #222;
$color-light-grey: #eee;
$color-magenta: #f93bcf;
$color-white: #fff;
$color-accent: $color-magenta;

$color-focus-ring: $color-magenta;

$outline-style: 2px solid $color-focus-ring;

$font-size-normal: 1rem;
$font-size-big: 6rem;

%big-font {
  font-size: $font-size-big;
  line-height: 9rem;
}

$spacing-xs: 3px;
$spacing-sm: 6px;
$spacing-md: 12px;
$spacing-lg: 18px;
$spacing-xl: 24px;

$spacing-button: calc($spacing-lg * 2);

$input-range-height: 8px;
$input-range-thumb-size: 24px;
